.begItem{
    border: solid .5px rgb(54, 54, 54);
    border-radius: 25px;
    height: 14em;
    padding: 2em;
    width: 25rem;
}

.iconback{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: relative;
}
#begicimg{

}

.titlbeg{
    margin-top: 1em;
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 600;
}
.p{
    margin-top: 1em;
    text-align: justify;
}