
.textcontenu{
    margin-top: 3em;
}

#titrebeginner{
    font-size: 3rem;
    font-weight: 500;
}

#txtbeginner{
    margin-top: 2em;
    font-size: 1rem;
    font-weight: 300;
}

.Niveau{
   padding-top:1.6em;
   display: flex;
   gap: 3em;
}

.begbtn{
    width: 180px;
    padding: 0.5em 0;
    border-radius: 10px;
    background: transparent;
}

.beg-btn-active {
    background-color: var(--yellow);
}
.begbtn:hover{
    width: 180px;
    border-radius: 10px;
    background-color: var(--yellow);
}

.imgbeginner{
    position: absolute;
    right: 5em;
    top: -1.8rem;
    width: 300px;
}

#linebeg{
 width: 100%;
 margin: 2em 0;
}

.bas{
    top: 3rem;
    padding-right: 100rem;
    position: relative;
}
.beginnerList{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.4rem;
    bottom:.5rem;
}
