.BeginnerParent{
    display: grid;
    grid-template-columns: 20% auto;
}

.haut{
    padding-top: 5rem;
    display: flex;
}

.textcontenu{
    position: relative;
    top: 2rem;
}

#titrebeginner{
    font-size: 3.5rem;
}

#txtbeginner{
    font-size: 1.5rem;
    font-weight: 200;
}

.Niveau{
   padding-top:7rem;
   display: flex;
   gap: 5rem;
}

#begbtn{
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
}
#begbtn:hover{
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--yellow);
}

.imgbeginner{
    position: relative;
    top: 5rem;
    left: -25rem;
}

#linebeg{
 position: relative;
 top: 4.5rem;
 width: 100rem;
}

.bas{
    top: 8.5rem;
    padding-right: 100rem;
    position: relative;
}
.beginnerList{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    bottom:.5rem;
}
