.welcomtext {
    width: 100%;
    height: 22rem;
    border-radius: 25px;
    background-color: var(--purple2);
    display: flex;
    justify-content: center;
}

.contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.banner {
    position: absolute;
    width: 70%;
    margin: auto;
    top: 50px;
}

.contenu .img-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1em;
    overflow: hidden;
}

.contenu img {
   width: 100%;
}

.contenu h3 {
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
}

.contenu .niveau {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 0.4em;
    text-align: center;
    color: var(--black-color);
}

.contenu .xp {
    font-size: 1em;
    margin-top: 0.3em;
    font-weight: 500;
    text-align: center;
    color: var(--black-color);
}

.lineuser {
    width: 100%;
    height: 1px;
    margin: 3em 0;
    background-color: rgb(100, 100, 100);
}

.foothome-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foothome-navigation button {
    background-color: #c3a9f8;
    color: white;
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 1.2em;
}

.letslearn {
    font-size: 2.6em;
    font-weight: 500;
}

.moduleList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    margin-top: 3em;
}

/*

.contenu{
    padding-top: 10rem;
}
.welcomtext img {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    left: 50rem;
}
#lineuser{
    width: 115rem;
    position: relative;
    top: 10rem;
    padding-right: 12rem;
}
.foothomeuser{
    top: 12.5rem;
    padding-right: 100rem;
    position: relative;
}

.moduleList{
    position: absolute;
    display: flex;
    gap: 2rem;
    top:10rem;
}

#eddy{
    position: relative;
    bottom: 1rem;
    font-size: 60px;
    font-weight: 500;
    left: 40rem;
}


#Beginner{
    position: relative;
    top: -1rem;
    font-size: 40px;
    left: 48rem;
    padding-bottom: 5rem;
}

#px{
    position: relative;
    bottom:5rem;
    left: 51rem;
}

.letslearn{
    position: relative;
    top:4rem;
}

#getstart{
    width: 210px;
    height: 65px;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    padding: 1rem;
    margin-left: 100rem;
    background-color: var(--purple);
    color: #fff;
    font-weight:bold;
}*/