.landing {
      display: flex;
      justify-content: space-between;
      height: 100vh;
      flex-grow: 1;
      flex-basis: 0;
      padding: 12em;
      align-items: center;
}

.landing h1 {
      font-size: 5em;
      font-weight: 700;
      color: #3D3D3D;
}

.landing p {
      font-size: 1.5em;
      color: #3D3D3D;
      margin-top: 1em;
}

.start-for-free-btn {
      background-color: #C3A9F8;
      color: white;
      font-size: 1.2em;
      font-weight: 700;
      padding: 1em 2em;
      border: none;
      border-radius: 7px;
      cursor: pointer;
      margin-top: 2em;
}

.start-for-free-btn:hover {
      background-color: rgb(179, 135, 255);
}

.rightSide-hero {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-content: center;
}

.imgland {
      width: 80%;
      margin: auto;
}

.landing-module {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2em;
   margin-bottom: 5em;
}

.landing-module .module-item {
   display: flex;
   align-items: center;
   padding: 1.5em;
   border: 1px solid #ccc;
   border-radius: 10px;
   gap: 1em;
}

.module-item .icon {
   padding: 1em;
   border-radius: 50%;
}

