nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 40px 60px rgba(243, 237, 237, 0.1);
    padding: 1em 10em;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between  !important;
}

.logo {
    width: 100px;
}

button {
    position: relative;
    color: black;
    border: none;
    border-radius: 7px !important;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 1em 2em;
}

.signin-link {
    background-color: #cfcdd6;
    color: var(--black-color);
}

.signin-link:hover {
    background-color: rgb(179, 135, 255);
    color: #fff;
}

.start-for-free-link {
    background-color: var(--black-color);
    color: white;
}

.start-for-free-link:hover {
    background-color: #202020;
}

.nav-rightSide a {
    list-style: none;
    padding: 0 20px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--black-color);
    transition: 0.3s ease-in-out;
}

.nav-rightSide a:hover {
    color: #202020;
}

.nav-rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
