.fullscreen {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img {
    width: 100px; /* Ajustez la taille de l'image selon vos besoins */
    animation: beat 1s infinite;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Ajustez l'ampleur de la pulsation */
    }
}
