.searchbar {
    border-radius: 40px; 
    font-size: 1rem;
    font-weight: bold;
    width:30rem;
    padding: 0.8em 0.8em 0.8em 4em;
    background-color: #f3f3f3;
    border: none;
  }
  
  .search-input {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .search-icon{
    position: absolute;
    left: 2rem;
    z-index: 2;
    font-size: 30px!important;
  }

  button{
    background: none;
    border-style: none;
  }

  .searchbar .MuiOutlinedInput-root .search-icon,.searchbar .MuiOutlinedInput-root .navigate-icon{
    font-size: 3rem;
  }


  

  
  
  
  
  
  
  
  



 


    
  

  